{% extends 'base.html' %}

{% load filter %}

{% block content %}

{% if feed_detail %}

  <h1>{{ feed_detail.feed.title }}</h1>

  {% if feed_detail.entries %}

    <ul class="list-group list-group-flush">
    {% for entry in feed_detail.entries %}
        <li class="list-group-item">
          <a href="{{ entry.link }}">
            {% if entry.title|length > 128 %}
              {% for str in entry.title|split:'.'|slice:":1" %}
                {{ str }}<br>
              {% endfor %}
            {% else%}
              {{ entry.title }}
            {% endif %}
          </a>
        </li>
    {% endfor %}
    </ul>

  {% else %}

    <p>No news available.</p>

  {% endif %}

{% else %}

  <p>Feed not available.</p>

{% endif %}

{% endblock %}
